[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
tensorflow = "*"
matplotlib = "*"
# scipy = "*"
# pywavelets = "*"
# pyemd = "*"
# emd-signal = "*"
xgboost = "*"
ipykernel = "*"
# statsmodels = "*"
# catppuccin-jupyterlab = "*"
# setuptools = "*"
nvidia-pyindex = "*"
nvidia-cuda-runtime-cu12 = "*"
cupy-cuda12x = "*"
seaborn = "*"
torchvision = "*"
torchaudio = "*"
torch = {file = "https://download.pytorch.org/whl/torch/torch-2.4.0+cu124-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.12"
